<center>
<p>
<br>
<section class="text-decoration-underline">Title</section>
<h3><%= "#{@job.title}" %></h3>
<section class="text-decoration-underline">Company</section>
<h4><%= "#{@job.company}" %></h4>
<section class="text-decoration-underline">Location</section>
<h4><%= "#{@job.city}, #{@job.state}" %></h4>
<section class="text-decoration-underline">Salary</section>
<h4><span class="badge bg-success">$<%=@job.salary %></span></h4>
</p>
</center>