<nav class="navbar navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard"><%= image_tag "jobhouselogo.png", height: 75, width: 75%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard" style="color: #00D2FF">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/search/jobs" style="color: #00D2FF">Search For Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/search/houses" style="color: #00D2FF">Search For Houses</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active"> 
        <% if logged_in? %>
            <%= button_to "Logout", "/logout", method: :delete, class: "btn btn-danger"  %>
        <% end %>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>