<center>
<section class="mb-3, shadow-sm p-3 mb-5 ">
  <section class="container">
  <% if logged_in? == false %>
    <p><strong>Welcome To JobHouse</strong> Feel Free To Browse Houses and Jobs.</p>
    <div class="row align-items-start">
      <div class="col">
        <%= button_to 'How Do I Use JobHouse?', about_path, method: :get, class: 'btn btn-info' %>
      </div>
      <div class="col">
        <%= button_to 'Log In/Sign Up With Google', '/auth/google_oauth2', method: :get, class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
  </div>
  </section>
</center>
</section>

<center>
<section id="welcome_images">
  <section class="link">
    <h3><%= link_to "Get Job", "/search/jobs", class:"link-dark"%></h3>
      <section class="shadow-lg p-1">
    <img src="https://i.postimg.cc/qBhr3KKB/1.webp" alt="">
    </section>
  </section>
  <section class="link">
    <h3><%= link_to "Buy House", "/search/houses", class:"link-dark"%></h3>
      <section class="shadow-lg p-1">
    <img src="https://i.postimg.cc/3RzPBLG8/2.jpg" alt="">
    </section>
  </section>
  <section class="link">
    <h3>Live Life</h3>
    <section class="shadow-lg p-1">
      <img src="https://i.postimg.cc/NfCxkH2t/1-L21v-Lj-Ccw8n2b-Km-HEV-bg.jpg" alt="">
    </section>
  </section>
</section>
</center>