<center>
<section id="new-user">
  <p><%= button_to 'Log In', '/register', method: :get, class: "btn btn-primary" %><p>
</section>

<section id="welcome_images">
  <section class="link">
    <h3>Get Job</h3>
    <img src="https://i.postimg.cc/qBhr3KKB/1.webp" alt="">
  </section>
  <section class="link">
    <h3>Buy House</h3>
    <img src="https://i.postimg.cc/3RzPBLG8/2.jpg" alt="">
  </section>
  <section class="link">
    <h3>Live Life</h3>
    <img src="https://i.postimg.cc/8cWxnhdh/3.jpg" alt="">
  </section>
</section>

</center>