<section class="container">
<center>
  <% if logged_in? == false %>
    <p><%= button_to 'Log In/Sign Up With Google', '/auth/google_oauth2', method: :get, class: "btn btn-info" %><p>
  <% end %>
</center>
</section>

<center>
<section id="welcome_images">
  <section class="link">
    <h3>Get Job</h3>
    <img src="https://i.postimg.cc/qBhr3KKB/1.webp" alt="">
  </section>
  <section class="link">
    <h3>Buy House</h3>
    <img src="https://i.postimg.cc/3RzPBLG8/2.jpg" alt="">
  </section>
  <section class="link">
    <h3>Live Life</h3>
    <img src="https://i.postimg.cc/NfCxkH2t/1-L21v-Lj-Ccw8n2b-Km-HEV-bg.jpg" alt="">
  </section>
</section>
</center>
