<section class="container">
  <section class="row">
    <section class="col-9">
      <p><%= button_to 'Log In With Google', '/auth/google_oauth2', method: :get, class: "btn btn-primary" %><p>
    </section>
    <section class="col-3">
      <p><%= button_to 'Sign Up With Google', '/auth/google_oauth2', method: :get, class: "btn btn-primary" %><p>
    </section>
  </section>
</section>

<center>
<section id="welcome_images">
  <section class="link">
    <h3>Get Job</h3>
    <img src="https://i.postimg.cc/qBhr3KKB/1.webp" alt="">
  </section>
  <section class="link">
    <h3>Buy House</h3>
    <img src="https://i.postimg.cc/3RzPBLG8/2.jpg" alt="">
  </section>
  <section class="link">
    <h3>Live Life</h3>
    <img src="https://i.postimg.cc/8cWxnhdh/3.jpg" alt="">
  </section>
</section>
</center>
