/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcome_images {
  width: 100vw;
  background: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1.5rem;
}

.link {
  padding: 1rem;
}

.link img {
  width: 18rem;
  height: 12rem;
}

.link h3 {
  font-weight: bold;
  font-family: copperplate, fantasy;
}

body {
  // background: black;
  // color: white;
  font-family: 'Times New Roman', Times, serif;
}