/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcome_images {
  width: 100vw;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1.5rem;
}

.link {
  padding: 1rem;
}

.link img {
  width: 18rem;
  height: 12rem;
}

.link h3 {
  font-weight: bold;
  font-family: copperplate, fantasy;
}

html,body {
	background-image: image-url('/assets/background.jpg'); 
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0.1rem;
}